<header>
    <nav> 
        <div class="MobileMenu"> 
            <div class="MobileMenuProperties">
            <div class="MyFaceLogo">
                 My Face
            </div>
            <div class=MobileMenuMiddle>
                <a href="/users/1/">Home</a>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
    
            </div>
            <div class="MobileMenuBottom">
                <a href="/posts/create">+New Post</a>
                
            </div>
        </div>
    </div>
        <button  id="OpenMenuButton" type="button" onclick="openMobileMenu()">Menu</button>
        <button  class="CloseMenuButton" type="button" onclick="closeMobileMenu()">X</button>
    </nav>
</header>