<html lang="en-gb">
<%- include('_head') -%>
<!-- <%- include('_header') -%> -->
<body>
    <header>
        <nav>
            <div class="HomePage">
                 <a href="">My Face</a>
            </div>
            <div class=HomePageMiddle>
                <a href="/user.id">Home</a>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
    
            </div>
            <div class=HomePageRight>
                <a href="/posts/create">+New Post</a>
                
            </div>
        </nav>
    </header>
     
</body>
<%- include('_footer') -%>
</html>