/* Add your styles here. */
nav {
    background: #151820;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    
}

div.MobileMenu{
    display: none;
}

#OpenMenuButton{
    position: fixed;
    right: 0;}

button.CloseMenuButton{
        display: none;
        position: fixed;
        right: 0;
        z-index: 2;}

div.MobileMenuProperties{
    display: grid;
    grid-template-rows: 20% 50% 30%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background: #151820;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    position: absolute;
    z-index: 1;
    align-items: center;
    right: -1;
    top: 0;
    width: 70%;
    height: 100%;
    position: fixed;
}

div.NameOfUser{
    font-weight: 600;
    font-size: large;
}

div.username{
    font-weight: 400;
    font-size: small;
}

div.EmailOfUser{
    font-weight: 300;
    font-size: small;
}

div.NavigationBar{
    display:flex;
    justify-content:space-between;
    
}
div.MyFaceLogo{
    color:#ede9e0;
    font-size: x-large;
    font-weight: 600;
    justify-self: center;
}
div.MobileMenuMiddle{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

div.MobileMenuBottom{
    align-self: baseline;
    justify-self: center;
}


body {
    /* background-image : url('https://img.freepik.com/free-photo/black-concrete-wall_53876-92805.jpg?w=996&t=st=1661272513~exp=1661273113~hmac=a4cdcf7152d9e87a9b32e74f383bae48ef8bda1107c356cc37cfb75a13edfbbc'); */
    /* background-image : url('https://img.freepik.com/free-photo/texture-background_1404-59.jpg?w=996&t=st=1661270990~exp=1661271590~hmac=92a0cc4153f5a5181ee0a4a7e095a5cb139cade8775d372ee920e17844451a2f'); */
    /* background-image: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-concrete_1258-72085.jpg?w=1060&t=st=1661274185~exp=1661274785~hmac=10529d451fa8ce6ebe8a8d7a28751ec53794ef7d7695ddbc38c9bc14af3d4653'); */
    /* background-image: url('https://img.freepik.com/free-vector/abstract-bokeh-lights-background_1409-1235.jpg?w=1380&t=st=1661282628~exp=1661283228~hmac=0e19b3e51a3571b8f080f0ea75edabb879bd597a34c6064019445dafce3ba46a'); */
    background-color: #252A38;
}
h1 {
    color: #ede9e0;
    /* color:#bd912d; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-weight: 600;
    background : #ffffff0f;
}
h2 {
    color: #ede9e0;
    /* color:#bd912d; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-weight: 500;
    background : #ffffff0f;
}
label{
    color: #ede9e0;
    /* color:#bd912d; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-weight: 400;
}
ul {
    color: #ede9e0;
    /* color:#bd912d; */
    background : #ffffff22;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 20px;
    font-weight: 400;
    padding : 10px;
    margin: 10px;
    font-family: Calibri;
    line-height: 20px;
   
}

div.PostBox{
    background: #151820;
}

p {
    background : #5e5c5c11;
    font-size: 14px;
}
div.buttons{
    display : flex;
    justify-content :left;

}

#Like-Button{
    background : #ffffff8d;
}

#Dislike-Button{
    background : #ffffff8d;
}


div.Images img{
    max-width: 100% 
   
}

div.UserInfo{
    display:flex;
    background : #ffffff22;
}

div.UserInfo a{
    text-decoration:none;
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    
    
}
div.UserInfo p{
    background : #5e5c5c11;
    font-size: 14px;
    line-height: 12px;
}
div.UserInfo img{
    max-width: 30%;
    border-radius: 50%;
}

div.UserProfileInfo{
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 10px;
    font-weight: 400;
    
}

div.profile{
    display:flex;
    position:relative;
    top:-55px;
    align-items:center;
    justify-content:space-evenly;
    background : #5e5c5c11;
   
}

div.UserPosts{
    display:flex;
    width: 2750;
}

div.LikedPosts{
    display:flex;
    width: 2750;
}

div.DisLikedPosts{
    display:flex;
    width: 2750;
}

ol {
    color: #ede9e0;
    /* color:#bd912d; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 20px;
    font-weight: 400;
    padding : 5px;
    margin: 0px;
    font-family: Calibri;
    line-height: 20px;
 }
 
a {
    
    text-decoration:none;
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  
 }
 
div.UserProfileInfo p{
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 13px;
    font-weight: 400;
}
 div.profile img{
    width:120px;
    border-radius: 50%;
      
}

div.CoverImage img{
    width: 304px; 
    object-fit:fill;


}
div.ProfileHeadings{
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 20px;
    font-weight: 400;
}
div.UserPosts ul{
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 10px;
    font-weight: 400;
}
div.LikedPosts ul{
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 10px;
    font-weight: 400;
}
div.DisLikedPosts ul{
    color: #ede9e0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-variant:normal;
    font-size: 10px;
    font-weight: 400;
}
 /* @media only screen and (min-width: 600px) {
  h1 {
    color: red; */
  /* }
} */
/* @media only screen and (max-width=642px){
    
    div.Images img{
        
        max-width: 50% 
       
    }
} */



/*
design work under progress
*/


@media only screen and (min-width: 350px) {
    ul {
        color: #ede9e0;
        /* color:#bd912d; */
        background : #ffffff22;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
        font-variant:normal;
        font-size: 20px;
        font-weight: 400;
        padding : 10px;
        margin: 10px;
        font-family: Calibri;
        line-height: 20px;
        width: 295px;
        height: 485px
    }
    div.MyFaceLogo{
        color:#ede9e0;
        font-size: xx-large;
        font-weight: 600;
        justify-self: center;
    }
    div.MobileMenuMiddle{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        font-size: larger;
    }
    
    div.MobileMenuBottom{
        align-self: baseline;
        justify-self: center;
        font-size: larger;
    }
}

@media only screen and (min-width: 610px) {
    div.PostList {
        display: flex;
        flex-wrap: wrap;
        flex: 50%;
    }
    div.MyFaceLogo{
        color:#ede9e0;
        font-size: xx-large;
        font-weight: 600;
        justify-self: center;
    }
    div.MobileMenuMiddle{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        font-size: x-large;
    }
    
    div.MobileMenuBottom{
        align-self: baseline;
        justify-self: center;
        font-size: x-large;
    }
  }